<app-add-date-modal
  [isOpen]="isAddDateModalOpen"
  [onClose]="closeOpenDateModal()"
>
</app-add-date-modal>

<section
  class="mt-6 flex mb-2 w-3/3 items-center justify-around relative mx-auto"
  *ngIf="hasLoaded"
>
  <div class="flex flex-col w-1/3">
    <p class="input-text">
      Buscar paciente
    </p>
    <div class="flex items-center justify-between">
      <input />
      <button class="button input-button">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
  </div>
</section>
<section class="flex mt-4 hidden">
  <input type="date" />
</section>
<!-- citas proximas -->
<section class="flex justify-between px-8 w-full mt-8" *ngIf="hasLoaded">
  <div class="w-1/3">
    <p>Calendario de citas.</p>
  </div>
  <div class="w-2/3">
    <p class="text-blue-600 font-bold">Citas próximas</p>
    <div class="mt-4">
      <div
        class="w-full block shadow-md bg-gray-300 my-2 rounded-md p-2 cursor-pointer hover:bg-gray-400 transition-colors duration-300"
        *ngFor="let consult of consultsWithPacient"
      >
        <a
          class="block"
          routerLink="{{ '/especialista/pacientes/' + consult.pacient_id }}"
        >
          <p><span class="text-blue-600">Fecha: </span>{{ consult.fecha }}</p>
          <p>
            <span class="text-blue-600">Paciente: </span> {{ consult.name }}
          </p>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- float button -->
<div class="float-button" (click)="openAddDateModal()">
  <fa-icon [icon]="faCalendarPlus"></fa-icon>
</div>
